<%= stylesheet_link_tag "query_results" %>
<%= javascript_include_tag 'bootstrap'%>
<div id="title" style="position:relative;top:50px;">
      <div class="container">
        <div class="row">
          <div class="span12" style="ho">
            <h1 style="text-align: center;">Query Results!</h1>
          </div>
        </div>
      </div>
    </div>

<div style="position:relative;top:100px;">
  <% for q in @result do%>
    <div class="query_result">
       <table class="table" style="width:100%;1px solid black;">
          <tr>
            <td class="pic_cell"><%= link_to(image_tag(q.photo_link, :style => "position:relative;width:100%;height:75px;"), :controller => "questions", :action => "show", :id => q.id) %> </td>
            
            <td class="result_cell"> 
              <div class="panel panel-primary" style="height:100px;">
                <div class="panel-heading">
                  <h3 class="panel-title" id="panel-title" > <%= link_to(q.title, :controller => "questions", :action => "show", :id => q.id) %> </h3>
                </div>
                <div class="panel-body">
                  <%= q.text %>
                </div>
              </div>


            </td>
          </tr>
      </table> 
      
    </div>
  <% end %>
</div>