<%= stylesheet_link_tag "question" %>
<div id="page_container">
	<div id="title">
		<h1><%= @question.title %></h1>
	</div>

	<div id="question_text_div" class="centered">
		<p id="question_text"><%= @question.text %></p>
	</div>

	<!-- Row containing option texts and vote bars -->
	<table class="centered" id="option_table">
		<tr>
			<!-- Options 1 text box -->
			<td>
				<div id="option1" class="option_div">
					<div class="option_text_div">
						<p class="option_text"><%= @question.option1 %></p>
					</div>
				</div>
			</td>

			<!-- vote bars -->
			<td>
				<!-- user vote bar -->
				<div id="vote_div">
					<h3> Users </h3>
					<table id="vote_line" class="centered"><tr>
						<td>100%</td>
						<td><div class="centered vote_bar" id="user_votes"></div></td>
						<td>100%</td>
					</tr></table>
				</div>

				<!-- doctor vote bar -->
				<div id="vote_div">
					<h3> Doctors </h3>
					<table id="vote_line" class="centered"><tr>
						<td>100%</td>
						<td><div class="centered vote_bar" id="doc_votes"></div></td>
						<td>100%</td>
					</tr></table>
				</div>
			</td>

			<!-- option 2 text box -->
			<td>
				<div id="option2" class="option_div">
					<div class="option_text_div">
						<p class="option_text"><%= @question.option2 %></p>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<table class="centered" id="chart_table">
		<!-- Title row -->
		<tr>
			<th colspan="2"><h2 class="centered">Doctor statistics</h2></th>
			<th class="stat_gap"></th>
			<th colspan="2"><h2 class="centered">User statistics</h2></th>
		</tr>

		<!-- graph criterion and "filters" title --> 
		<tr> 
			<td style="height:40px;">
				<select id="doc_criteria" onchange="display_doc_filters(this.value);">
					<option value=-1>Select a criterion</option>
					<option value=1>Option Number</option>
					<option value=2>Specialty</option>
					<option value=3>Years in Practice</option>
					<option value=4>Rating</option>
				</select>
			</td>

			<td><h4 class='doc_filter'>Filters</h4></td>

			<td class="stat_gap"></td>

			<td>
				<select id="user_criteria" onchange="display_user_filters(this.value);">
					<option value=-1>Select a criterion</option>
					<option value=1>Option Number</option>
					<option value=2>Age</option>
					<option value=3>Gender</option>
					<option value=4>Location</option>
				</select>
			</td>

			<td><h4 class="user_filter">Filters</h4></td>
		</tr>

		<tr><td><p></p></td></tr>

		<!-- graphs and filter dropdowns -->
		<tr>
			<!-- Doctor graph -->
			<td>
				<div id="doc_chart_div" class="centered">
					<div class="chart_container centered">
						<div class="graph_container">
							<canvas class="doughnut_canvas" id="doc_canvas"></canvas>
						</div>
						<div id="doc_legend_div"></div>
					</div>
				</div>
			</td>

			<!-- Doctor Filters -->
			<td class="filter_td">
				<select id='doc_specialty_filter' class='dropdown doc_filter' onchange='update_doc_chart(this.id, this.value);'>
					<option value=-1>Option Number</option>
				</select>
				<select id='doc_specialty_filter' class='dropdown doc_filter' onchange='update_doc_chart(this.id, this.value);'>
					<option value=-1>Specialty</option>
				</select>
				<select id='doc_years_filter' class='dropdown doc_filter' onchange='update_doc_chart(this.id, this.value);'>
					<option value=-1>Years in Practice</option>
				</select>
				<select id='doc_rating_filter' class='dropdown doc_filter' onchange='update_doc_chart(this.id, this.value);'>
					<option value=-1>Rating</option>
				</select>
			</td>

			<td class="stat_gap"></td>

			<!-- User Graph -->
			<td>
				<div id="user_chart_div" class="centered">
					<div class="chart_container centered">
						<div class="graph_container">
							<canvas class="doughnut_canvas" id="user_canvas"></canvas>
						</div>
						<div id="user_legend_div"></div>
					</div>
				</div>
			</td>

			<!-- User Filters -->
			<td class="filter_td">
				<select id='user_specialty_filter' class='dropdown user_filter' onchange='update_doc_chart(this.id, this.value);'>
					<option value=-1>Option Number</option>
				</select>
				<select id='user_specialty_filter' class='dropdown user_filter' onchange='update_user_chart(this.id, this.value);'>
					<option value=-1>Age</option>
				</select>
				<select id='user_years_filter' class='dropdown user_filter' onchange='update_user_chart(this.id, this.value);'>
					<option value=-1>Gender</option>
				</select>
				<select id='user_rating_filter' class='dropdown user_filter' onchange='update_user_chart(this.id, this.value);'>
					<option value=-1>Location</option>
				</select>
			</td>
		</tr>
	</table> 

	<h2 class="centered">Top Doctors</h2>

	<div id="top_docs" class="centered">
		<!-- top docs table for option 1 -->
		<div class="centered inline">
			<table id="top_docs1" class="top_docs_table">
				<tr>
					<th class="left_corner"></th>
					<th class="centered" colspan="2">Doctor</th>
					<th class="centered specialty_cell">Specialty</th>
					<th class="centered rating_cell">Rating</th>
					<th class="right_corner"></th>
				</tr>

				<% for i in 0..2 %>
					<tr>
						<td class="left_border"></td>
						<td class="pic_cell"><%= image_tag("goat.jpg", class:"profile_picture") %></td> 
						<td class="doc_cell">Username isreallylongname</td>
						<td>Internal Medicine</td>
						<td>100</td>
						<td class="right_border"></td>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="top_doc_gap inline"></div>

		<!-- top docs table for option 2 -->
		<div class="centered inline">
			<table id="top_docs1" class="top_docs_table">
				<tr>
					<th class="left_corner"></th>
					<th class="centered" colspan="2">Doctor</th>
					<th class="centered specialty_cell">Specialty</th>
					<th class="centered rating_cell">Rating</th>
					<th class="right_corner"></th>
				</tr>

				<% for i in 0..2 %>
					<tr>
						<td class="left_border"></td>
						<td class="pic_cell"><%= image_tag("goat.jpg", class:"profile_picture") %></td> 
						<td class="doc_cell">Username isreallylongname</td>
						<td>Internal Medicine</td>
						<td>100</td>
						<td class="right_border"></td>
					</tr>
				<% end %>
			</table>

	</div>

	<h2 class="centered">Discussion</h2>
	<div id="discussion_section" class="centered">

		<!-- left column of discussion section -->
		<div id="left_col" class="centered disc_col">
			<!-- title with "add comment" button -->
			<div class="centered disc_header_div">
				<h4 class="float_left">Option 1</h4>
				<button type="button" class="float_right add_comment" onclick="show_add_div(1);">Add Comment</button>
			</div>

			<!-- comment text area with "post" and "cancel" buttons -->
			<div class="centered" id="add_comment_div_1">
				<textarea rows="6" id="add_ta1" class="full_width"></textarea>
				<div>
					<button type="button" class="float_left">Post</button>
					<button type="button" class="float_right" onclick="hide_add_div(1);">Cancel</button>
				</div>
			</div>

			<!-- list of comments -->
			<div class="centered">
				<ul class="disc_ul">
					<% for i in 0..(@comments[0].length - 1) %>
						<li class="disc_li">

							<!-- header for each comment with profile/comment info -->
							<div class="comment_header">
								<!-- profile picture and username floating left -->
								<div class="float_left" style="text-align: left;">
									<%= image_tag("goat.jpg", class:"profile_picture") %> 
									<p><strong>Username goes here</strong></p>
								</div>

								<!-- up and down vote buttons with current rating -->
								<div class="float_right" style="text-align: right;">
									<div class="inline comment_rating">
										(+9001)
									</div>
									<div class="inline">
										<input type="image" class="sentiment_button" src="/assets/thumbs-up.jpg" onclick="count_vote();">
									</div>
									<div class="inline">
										<input type="image" class="sentiment_button" src="/assets/thumbs-down.jpg" onclick="count_vote();">
									</div>
								</div>
							</div>

							<div class="comment_body">
								<%= @comments[0][i] %>
							</div>
							
						</li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="disc_gap"></div>

		<div id="right_col" class="centered disc_col">
			<!-- title with "add comment" button -->
			<div class="centered disc_header_div">
				<h4 class="float_left">Option 2</h4>
				<button type="button" class="float_right add_comment" onclick="show_add_div(2);">Add Comment</button>
			</div>

			<!-- comment text area with "post" and "cancel" buttons -->
			<div class="centered" id="add_comment_div_2">
				<textarea rows="6" id="add_ta2" class="full_width"></textarea>
				<div>
					<button type="button" class="float_left">Post</button>
					<button type="button" class="float_right" onclick="hide_add_div(2);">Cancel</button>
				</div>
			</div>

			<!-- list of comments -->
			<div class="centered">
				<div>
					<ul class="disc_ul">
						<% for i in 0..(@comments[1].length - 1) %>
						<li class="disc_li">

							<!-- header for each comment with profile/comment info -->
							<div class="comment_header">
								<!-- profile picture and username floating left -->
								<div class="float_left" style="text-align: left;">
									<%= image_tag("goat.jpg", class:"profile_picture") %> 
									<p><strong>Username goes here</strong></p>
								</div>

								<!-- up and down vote buttons with current rating -->
								<div class="float_right" style="text-align: right;">
									<div class="inline comment_rating">
										(+9001)
									</div>
									<div class="inline">
										<input type="image" class="sentiment_button" src="/assets/thumbs-up.jpg" onclick="count_vote();">
									</div>
									<div class="inline">
										<input type="image" class="sentiment_button" src="/assets/thumbs-down.jpg" onclick="count_vote();">
									</div>
								</div>
							</div>

							<div class="comment_body">
								<%= @comments[1][i] %>
							</div>
							
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>


</div>