<!DOCTYPE html>
<html>
<head>
  <title>Elixir</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>x
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to image_tag("leonTheLemming_burned.png", size: "70x50"), :controller => "questions" %>

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
         
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><%=link_to "Login", controller: "users", action: "login"%></li>
            <li><%=link_to "Sign Up", controller: "users", action: "new"%></li>
            <li><%=link_to "Logout", controller: "users", action: "logout"%></li>
          </ul>

        </div>
      </div>
</div>

<%= yield %>

</body>
</html>
